* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input,
button,
li,
a,
select {
    all: unset;
    box-sizing: border-box;
}

.btn-red {
    background-color: tomato;
    color: #fff;
}

.btn-green {
    background-color: seagreen;
    color: #fff;
}

.section {
    width: 690px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 80px;
}


/* MAIN */
.main-background {
    height: 500px;
    background-image: url(/asset/background-image.jpeg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    object-fit: cover;
    color: #fff;
    border-radius: 0;
    padding-top: 140px;
}

.my-4 {
    border-top: 1px solid rgba(255, 255, 255, .3);
}


/* LOGIN MODAL */
.login-modal {
    background: rgba(0, 0, 0, .6);
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    transition: all 1s;
    transform: translateY(-100vh);
    z-index: 10;
}

.login-modal-open {
    transform: translateY(0);
}

.white-box {
    width: 60%;
    padding: 24px;
    margin: 100px auto;
    border-radius: 8px;
    background-color: #fff;
}

.white-box input {
    width: 100%;
    padding: 8px;
    background-color: #f2f2f2;
    border-radius: 4px;
    margin-bottom: 8px;
}

.warning {
    font-size: 12px;
    color: tomato;
    margin-bottom: 8px;
    display: none;
}

.button-group {
    display: flex;
}

.login-button {
    padding: 8px 16px;
    background-color: tomato;
    color: #fff;
    border-radius: 8px;
    margin-right: 8px;
    flex: 1;
    text-align: center;
}

.close-button {
    padding: 8px 16px;
    border: 1px solid tomato;
    color: tomato;
    border-radius: 8px;
}

.close-button:hover,
.login-button:hover {
    opacity: .7;
}


/* GNB */
.nav-menu {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    color: #fff;
    transition: background-color 400ms;
    z-index: 8;
}

.nav-menu-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-menu h4 {
    margin: 0;
    margin-left: 16px;
    transition: font-size 400ms;
}

.scroll-down-title {
    font-size: 16px;
    padding-top: 4px;
}

.nav-sub {
    padding-top: 60px;
    background-color: seagreen;
    border-radius: 0;
    display: none;
}

.scroll-down {
    background-color: seagreen;
}


/* LEFT MENU */
.left-menu {
    position: fixed;
    width: 240px;
    height: 100vh;
    padding: 24px;
    background-color: #f2f2f2;
    transition: all 1s;
    transform: translateX(-240px);
    z-index: 10;
}

.left-menu-open {
    transform: translateX(0);
}

.left-menu h3 {
    margin-bottom: 24px;
}

.left-menu li {
    display: block;
    margin-bottom: 16px;
}

.left-menu-close {
    border: 1px solid #ccc;
    padding: 8px 24px;
    border-radius: 8px;
}

.left-menu-close:hover {
    background-color: #ccc;
}


/* CAROUSEL */
.slider {
    overflow: hidden;
    position: relative;
    border-radius: 16px;
}

.slider-title {
    text-align: center;
}

.slide-container {
    width: 300vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: transform 1s;
}

.slide-box {
    width: 100vw;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
}

.slide-box .image1,
.slide-box .image2,
.slide-box .image3 {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    object-fit: cover;
}

.slide-box .image1 {
    background-image: url(/asset/img-01.jpg);
}

.slide-box .image2 {
    background-image: url(/asset/img-02.jpg);
}

.slide-box .image3 {
    background-image: url(/asset/img-03.jpg);
}

.slider-button-group {
    position: absolute;
    left: 50%;
    bottom: 16px;
    transform: translateX(-50%);
}

.slider-button {
    margin-right: 16px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
}

.slider-button:last-child {
    margin-right: 0;
}

.slider-button:hover {
    opacity: .5;
}

.slider-button-group-2 > .prev {
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    /* display: none;  */
}

.slider-button-group-2 > .next {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}


/* TAB MENU */

.tab-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 40px;
}

.tab-button {
    width: 230px;
    text-align: center;
    padding: 16px 24px;
    cursor: pointer;
}

.active {
    background-color: seagreen;
    color: #fff;
    font-weight: 700;
    border-radius: 40px;
}

.tab-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 690px;
    height: 300px;
    border-radius: 16px;
    background-color: #f2f2f2;
    color: seagreen;
    display: none;
}

.show {
    display: flex;
}


/* OPTION BOX */
.select-control {
    width: 100%;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #f2f2f2;
    margin-bottom: 16px;
}

.hide {
    display: none;
}

/* PRODUCT CARD */
.sort-button {
    width: 690px;
    margin: 0 auto;
    margin-bottom: 16px;
}

.sort-button button {
    padding: 8px 16px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
}

.sort-button button:hover {
    opacity: .5;
}

.sort-active {
    background-color: seagreen;
    color: #fff;
}

.card-group .card {
    overflow: hidden;
}

.card-group .card img {
    height: 230px;
    object-fit: cover;
}


/* GET API DATA */
.get-data {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.get-data h4 {
    margin: 0;
    margin-right: 16px;
}

.get-data .button-group button:first-child {
    margin-right: 8px;
}


/* GET PRODUCT CARD FROM API */

.get-product-card button {
    width: 100%;
    margin-bottom: 16px;
}


/* STICKY TEST */
.sticky-test {
    display: flex;
    justify-content: space-between;
}

.sticky-test .image {
    position: sticky;
    top: 200px;
    width: 400px;
    height: 400px;
    border-radius: 16px;
    overflow: hidden;
}

.sticky-test .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sticky-test .text {
    width: 270px;
}

.empty-space {
    height: 1500px;
}


/* SCROLL ANIMATION */
.image-card-group {
    text-align: center;
}

.image-card-group h2 {
    margin-bottom: 40px;
}

.image-card {
    width: 690px;
    position: sticky;
    top: 100px;
    margin-bottom: 32px;
    max-width: 690px;
}

.image-card img {
    width: 100%;
}


/* TOUCH CAROUSEL */
.touch-carousel-title {
    text-align: center;
}

.touch-carousel {
    position: relative;
    text-align: center;
    overflow: hidden;
    border-radius: 16px;
}

.carousel-container {
    display: flex;
    width: 2070px;
}

.transforming {
    transition: transform 500ms;
}

.carousel-box {
    width: 690px;
}

.carousel-box .image1,
.carousel-box .image2,
.carousel-box .image3 {
    width: 100%;
    height: 300px;
    background-size: 100% auto;
    object-fit: cover;
}

.carousel-box .image1 {
    background-image: url(/asset/img-01.jpg);
}

.carousel-box .image2 {
    background-image: url(/asset/img-02.jpg);
}

.carousel-box .image3 {
    background-image: url(/asset/img-03.jpg);
}

.carousel-button-group {
    position: absolute;
    left: 50%;
    bottom: 16px;
    transform: translateX(-50%);
}

.carousel-button {
    margin-right: 16px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    opacity: .5;
}

.carousel-button:last-child {
    margin-right: 0;
}