* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input,
button,
li,
a {
    all: unset;
}

.main-background {
    height: 500px;
    background-image: url(/asset/background-image.jpeg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    object-fit: cover;
    color: #fff;
    border-radius: 0;
    padding-top: 140px;
}

.my-4 {
    border-top: 1px solid rgba(255, 255, 255, .3);
}

.login-modal {
    background: rgba(0, 0, 0, .6);
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    transition: all 1s;
    transform: translateY(-100vh);
}

.login-modal-open {
    transform: translateY(0);
}

.white-box {
    width: 60%;
    padding: 24px;
    margin: 100px auto;
    border-radius: 8px;
    background-color: #fff;
}

.white-box input {
    width: 100%;
    padding: 8px;
    background-color: #f2f2f2;
    border-radius: 4px;
    margin-bottom: 8px;
}

.warning {
    font-size: 12px;
    color: tomato;
    margin-bottom: 8px;
    display: none;
}

.button-group {
    display: flex;
}

.login-button {
    padding: 8px 16px;
    background-color: tomato;
    color: #fff;
    border-radius: 8px;
    margin-right: 8px;
    flex: 1;
    text-align: center;
}

.close-button {
    padding: 8px 16px;
    border: 1px solid tomato;
    color: tomato;
    border-radius: 8px;
}

.close-button:hover,
.login-button:hover {
    opacity: .7;
}

.nav-menu {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    color: #fff;
    transition: background-color 400ms;
    z-index: 8;
}

.nav-menu-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-menu h4 {
    margin: 0;
    margin-left: 16px;
    transition: font-size 400ms;
}

.scroll-down-title {
    font-size: 16px;
    padding-top: 4px;
}

.nav-sub {
    margin-top: 60px;
    display: none;
}

.scroll-down {
    background-color: seagreen;
}

.left-menu {
    position: fixed;
    width: 240px;
    height: 100vh;
    padding: 24px;
    background-color: #f2f2f2;
    transition: all 1s;
    transform: translateX(-240px);
    z-index: 10;
}

.left-menu-open {
    transform: translateX(0);
}

.left-menu h3 {
    margin-bottom: 24px;
}

.left-menu li {
    display: block;
    margin-bottom: 16px;
}

.left-menu-close {
    border: 1px solid #ccc;
    padding: 8px 24px;
    border-radius: 8px;
}

.left-menu-close:hover {
    background-color: #ccc;
}

.slider {
    overflow: hidden;
    position: relative;
}

.slider-title {
    text-align: center;
}

.slide-container {
    width: 300vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: transform 1s;
}

.slide-box {
    width: 100vw;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
}

.image1,
.image2,
.image3 {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    object-fit: cover;
}

.image1 {
    background-image: url(/asset/img-01.jpg);
}

.image2 {
    background-image: url(/asset/img-02.jpg);
}

.image3 {
    background-image: url(/asset/img-03.jpg);
}

.slider-button-group {
    position: absolute;
    left: 50%;
    bottom: 16px;
    transform: translateX(-50%);
}

.slider-button {
    margin-right: 16px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
}

.slider-button:last-child {
    margin-right: 0;
}

.slider-button:hover {
    opacity: .5;
}

.slider-button-group-2 > .prev {
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    /* display: none;  */
}

.slider-button-group-2 > .next {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}

.blank {
    width: 100%;
    height: 1000px;
}